library/Opus/Document/documenttype.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * This file is part of OPUS. The software OPUS has been originally developed
 * at the University of Stuttgart with funding from the German Research Net,
 * the Federal Department of Higher Education and Research and the Ministry
 * of Science, Research and the Arts of the State of Baden-Wuerttemberg.
 *
 * OPUS 4 is a complete rewrite of the original OPUS software and was developed
 * by the Stuttgart University Library, the Library Service Center
 * Baden-Wuerttemberg, the Cooperative Library Network Berlin-Brandenburg,
 * the Saarland University and State Library, the Saxon State Library -
 * Dresden State and University Library, the Bielefeld University Library and
 * the University Library of Hamburg University of Technology with funding from
 * the German Research Foundation and the European Regional Development Fund.
 *
 * LICENCE
 * OPUS is free software; you can redistribute it and/or modify it under the
 * terms of the GNU General Public License as published by the Free Software
 * Foundation; either version 2 of the Licence, or any later version.
 * OPUS is distributed in the hope that it will be useful, but WITHOUT ANY
 * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
 * details. You should have received a copy of the GNU General Public License
 * along with OPUS; if not, write to the Free Software Foundation, Inc., 51
 * Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.
 *
 * @copyright   Copyright (c) 2008, OPUS 4 development team
 * @license     http://www.gnu.org/licenses/gpl.html General Public License
 */
 -->
<!--

    This schema describes the how to structure document type definition files
    and serves as a source for validation of those files.

    A document type definition basicly consists of field declarations. Each of them
    describes an Opus field that is used by the document type. A field declaration may
    have options to trigger language selection or multivalue capabilities if supported
    by Opus for the specified field.

    An required option is set to "yes" if the field has to be filled during user input
    activities.

    TODO move to application or other package
-->
<schema 
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:opus="http://www.opus-repository.org/schema/documenttype"
    targetNamespace="http://www.opus-repository.org/schema/documenttype"
    elementFormDefault="qualified">
	
    <element name="documenttype" type="opus:OpusDocumentType"/>
    <complexType name="OpusDocumentType">
        <sequence maxOccurs="unbounded">
            <element name="field" type="opus:FieldType"/>
        </sequence>
        <attribute name="name" type="opus:validdocumentname" use="required"/>
    </complexType>
	
    <complexType name="FieldType" mixed="true">
        <sequence minOccurs="0">
            <element name="required-if-fulltext" minOccurs="0"/>
            <!--  permit any of these tags in any order in any number     -->
            <choice minOccurs="0" maxOccurs="unbounded">                
                <element name="default" type="opus:DefaultFieldType"/>
                <element name="subfield" type="opus:SubFieldType"/>
                <element name="option" type="opus:OptionFieldType"/>
            </choice>
        </sequence>
        <attribute name="name" type="opus:validfieldname" use="required"/>
        <attribute name="multiplicity" type="opus:multiplicity" default="1"/>
        <attribute name="required" type="opus:yesno" default="no"/>
        <attribute name="formelement" type="opus:validFormElements"/>
        <attribute name="datatype" type="opus:availableDatatypes"/>
        <attribute name="root" type="string"/>
    </complexType>
	
    <complexType name="SubFieldType">
        <sequence minOccurs="0">
            <element name="default" type="opus:DefaultFieldType"/>
        </sequence>
        <attribute name="name" type="string" use="required"/>
        <attribute name="required" type="opus:yesno" default="no"/>
        <attribute name="formelement" type="opus:validFormElements"/>
        <attribute name="datatype" type="opus:availableDatatypes"/>
    </complexType>
	
    <!--
        DefaultFieldType can be used for defining default values for form elements
        for ...
	value is the default value
        edit describes if the element can be changed
	public states if the element can be seen with its value
    -->
    <complexType name="DefaultFieldType">
        <attribute name="for"/>
        <attribute name="value"/>
        <attribute name="edit"/>
        <attribute name="public"/>
    </complexType>

    <complexType name="OptionFieldType">
        <attribute name="value"/>
    </complexType>
	
    <!--
        Multiplicity attributes accept only integers for quantities,
        or the star "*" symbol to represent unlimited quantity.
    -->
    <simpleType name="multiplicity">
        <restriction base="string">
            <pattern value="([1-9][0-9]*)|\*"/>
        </restriction>
    </simpleType>
	
    <!--
        availableDatatypes is used as values for attribute DATATYPE
        they are represented in publish/models/Validation.php
    -->
    <simpleType name="availableDatatypes">
        <restriction base="string">
            <enumeration value="Date"/>
            <enumeration value="Email"/>            
            <enumeration value="Integer"/>
            <enumeration value="Language"/>
            <enumeration value="Licence"/>
            <enumeration value="Person"/>            
            <enumeration value="Text"/>           
            <enumeration value="Title"/>
            <enumeration value="ThesisGrantor"/>
            <enumeration value="ThesisPublisher"/>
            <enumeration value="Year"/>
            <enumeration value="List"/>
            <enumeration value="Enrichment"/>
            <enumeration value="Collection"/>
            <enumeration value="CollectionLeaf"/>
            <enumeration value="Reference"/>
            <enumeration value="Identifier"/>
            <enumeration value="Note"/>
            <enumeration value="Subject"/>
            <enumeration value="Series"/>
            <enumeration value="PublicationState"/>
        </restriction>
    </simpleType>
	
    <!--
        validFormElements is used as values for attribute FORMELEMENT
    -->
    <simpleType name="validFormElements">
        <restriction base="string">
            <enumeration value="Text"/>
            <enumeration value="Textarea"/>
            <enumeration value="Select"/>
            <enumeration value="text"/>
            <enumeration value="textarea"/>
            <enumeration value="select"/>
            <enumeration value="Checkbox"/>
            <enumeration value="checkbox"/>
        </restriction>
    </simpleType>
	
    <!--
        yesno ist used as values for attribute REQUIRED
    -->
    <simpleType name="yesno">
        <restriction base="string">
            <enumeration value="yes"/>
            <enumeration value="no"/>
        </restriction>
    </simpleType>
	
    <!--
        A valid document type name has only lowercase characters and digits.
        It always starts with a character. Words can be separated by the
        underscore character "_". Two or more adjacent undescores are not allowed.
        The underscore is not allowed as the last character.
    -->
    <simpleType name="validdocumentname">
        <restriction base="string">
            <pattern value="[a-z]+[a-z0-9]*(_[a-z0-9]+)*"/>
        </restriction>
    </simpleType>

    <!--
        A valid field name must fulfill PHP's restrictions for variable names.
    -->
    <simpleType name="validfieldname">
        <restriction base="string">
            <pattern value="[a-zA-Z_&#x007F;-&#x00FF;][a-zA-Z0-9_&#x007F;-&#x00FF;]*"/>
        </restriction>
    </simpleType>
	
</schema>
