library/Opus/Document/documenttype.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- 
    * This file is part of OPUS. The software OPUS has been originally developed
    * at the University of Stuttgart with funding from the German Research Net,
    * the Federal Department of Higher Education and Research and the Ministry
    * of Science, Research and the Arts of the State of Baden-Wuerttemberg.
    *
    * OPUS 4 is a complete rewrite of the original OPUS software and was developed
    * by the Stuttgart University Library, the Library Service Center
    * Baden-Wuerttemberg, the Cooperative Library Network Berlin-Brandenburg,
    * the Saarland University and State Library, the Saxon State Library - 
    * Dresden State and University Library, the Bielefeld University Library and 
    * the University Library of Hamburg University of Technology with funding from 
    * the German Research Foundation and the European Regional Development Fund.
    *
    * LICENCE
    * OPUS is free software; you can redistribute it and/or modify it under the
    * terms of the GNU General Public License as published by the Free Software
    * Foundation; either version 2 of the Licence, or any later version.
    * OPUS is distributed in the hope that it will be useful, but WITHOUT ANY
    * WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
    * FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
    * details. You should have received a copy of the GNU General Public License 
    * along with OPUS; if not, write to the Free Software Foundation, Inc., 51 
    * Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.
    *
    * @category   Framework
    * @package    Opus_Document
    * @author     Ralf Claussnitzer <ralf.claussnitzer@slub-dresden.de>
    * @copyright  Copyright (c) 2008, OPUS 4 development team
    * @license    http://www.gnu.org/licenses/gpl.html General Public License
    * @version    $Id$
-->

<schema targetNamespace="http://schemas.opus.org/documenttype"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:opus="http://schemas.opus.org/documenttype">

	<element name="documenttype" type="opus:OpusDocumentType" />

	<complexType name="OpusDocumentType">
		<sequence>
			<element name="field" type="opus:FieldType"></element>
			<element name="mandatory" type="opus:Mandatory" />
		</sequence>
	</complexType>

	<complexType name="Mandatory">
		<sequence>
			<element name="field" type="opus:FieldType" />
		</sequence>
		<attribute name="type">
			<simpleType>
				<restriction base="string">
					<enumeration value="all" />
					<enumeration value="one-at-least" />
					<enumeration value="single" />
				</restriction>
			</simpleType>
		</attribute>
	</complexType>

	<complexType name="FieldType">
		<attribute name="name" type="opus:validfieldname"/>
		<attribute name="multiplicity" type="opus:multiplicity" />
		<attribute name="languageoption" type="opus:onoff" />
		<attribute name="mandatory" type="opus:yesno" />
	</complexType>

	<simpleType name="multiplicity">
		<restriction base="string">
			<pattern value="([0-9][1-9]*)|\*" />
		</restriction>
	</simpleType>

	<simpleType name="yesno">
		<restriction base="string">
			<enumeration value="yes" />
			<enumeration value="no" />
		</restriction>
	</simpleType>

	<simpleType name="onoff">
		<restriction base="string">
			<enumeration value="on" />
			<enumeration value="off" />
		</restriction>
	</simpleType>
	
	<simpleType name="validfieldname">
		<restriction base="string">
<!--			<pattern value="^[a-z]*(_[a-z]*)*" />-->
            <pattern value="[a-z]+[a-z0-9]*(_[a-z0-9]+)*" />
		</restriction>
	</simpleType>

</schema>